
/*****
Responsive CSS
*****/



/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
 /*.btn-block {
    width: 140%;
    margin: 0 auto;
  }
  
  */
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  
	.user-roles-right input{
		margin-right: 11px;
	}
  .label-right{
            text-align: center;
  }
  .modal-footer  button{
    margin-top: 10px;
  }
  .btn-block {
    width: 40%;
    margin: 0 auto;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .user-roles-right input{
		margin-right: 7px;
	}
  .label-right{
            text-align: center;
  }
  .modal-footer  button{
    margin-top: 10px;
  }
  .btn-block {
    width: 40%;
    margin: 0 auto;
  }
  
}




/*modal-header X symbal*/
.modal-header .close{
	display: none;
}


















