
/*****
Custom CSS
*****/
#base_url{
	display: none;
}




/***
Table Styles
***/
table { 
  display: inline-table !important;
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
  vertical-align: middle !important;
  text-align: center;
}

thead.thead-dark{
	background-color: #0099ff !important; 
	color: white; 
	font-size: 70%;

}
thead.thead-dark th{
	background-color: #0099ff !important; 
	border-color: #ffffff !important;
}
.table td, .table th{
		
		/*word-wrap: break-word; word-break: break-all; white-space: normal;*/
}


.users-data-users table td {
	text-align: center;
}

.user_admin_filter_div .col-md-2{
	width: 14.2%;
	max-width: 14.2%;
}
	






/***
Form Styles
***/
.form-inline{
	border-radius: 15px;
}
label{
	justify-content: flex-end;
}
.form-check-input {
	margin-top: 0.4rem;
}
.modal-footer{
	/*display: inline !important;*/
	border-top: none;
}
 .label-right{
            text-align: right;
 }

/* New testing officer form */
.user-roles-right input{
	margin-right: 30px; margin-left: 7px;
}
.user-roles-right div.checkbox{
	width: 100%;
	text-align: right;
}

.user-roles-left div.form-check{
	float: right;
}
.user-roles-left label{
	margin-right: 30px;
}
/*.btn-block {
	width: 80%;
}*/
.modal-title{
	line-height: 1;
	margin: 0 auto;
}




/***
Navbar Styles
***/
.navbar.bg-dark{
	background:  #0000cc !important;
}
.navbar-dark .navbar-nav .nav-link{
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}
.dropdown-menu{
	 background: #0099ff;
}
.dropdown-menu a{
	 color: #ffffff;
}
.dropdown-menu a:hover{
	 color: #000000;
}


/*navbar-nav>li >a:active {
background-color:#D1C4E9 !important;
}*/

navbar-nav li:hover {
background: #0099ff !important;
}

[readonly='readonly'] {
   pointer-events: none;
}


/*All modal Style*/

.modal-header {
   background:#0099ff !important;
   color: white;
   padding: 0.5rem;
}

#genButtons{
	padding-left:15%;
	margin-top: 10px;
}
.button-box{
	text-align: center;
	margin-top: 20px;
	/*display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  	grid-gap: 15px;*/
}





/*User Adminstrator Styles*/
.col-half-offset{
    margin-left:1.5%;
}
.form-control{
      padding: 0.175rem .75rem !important;
}
.lablestyles{
  margin-bottom: 0px !important;
}
.btnstyles{
   margin-top: 22px;    
      padding: .275rem .75rem !important;
}
.btnspecialstyles{
    margin-top: 22px;    
    padding: 3.5px 25px 3.5px 25px !important;
}
.offsetdivstyles{
  margin-left:220px;
}


.paddingspace{
  padding: 0px 5px 0px 5px !important;
}
.statusselect{
  height: auto !important;
}


/*User Adminstrator Styles End*/


/** General Inspection **/

.selectboxheight{
	height:auto !important;
}






/** General Inspection End **/











@media only screen
and (min-device-width:768px)
and (max-device-width:1028px){
	.button-box{
	text-align: center;
	margin-top: 20px;
}
}


/*.modal-dialog div.modal-content {
    width: 800px !important;
}*/
/*.form-control{
      padding: 0.375rem .75rem !important;

      }*/